@import "tailwindcss";

:root {
  font-family: "League Spartan", system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0.03rem;

}

h1 {
  font-family: "Lora";
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-family: "Lora";
  font-size: 2.4em;
  line-height: 1.1;
}
h3 {
  font-family: "Lora";
  font-size: 1.6em;
  line-height: 1.1;
}
h4 {
  font-family: "Lora";
  font-size: 1.2em;
  line-height: 1.1;
}

h5 {
  font-family: "Lora";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.1;
}




button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */